{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>

    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-light navbar fixed-top" style="background-color: #5AB9EA;">
        <div class="container-fluid ">
            <a class="navbar-brand " href="# ">SHIVANJALI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon "></span>
</button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="# ">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Donation
      </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Funds Raised</a></li>
                            <li><a class="dropdown-item" href="#">Career</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Activities</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
                <!--<form class="d-flex ">
    <input class="form-control me-2 " type="search " placeholder="Search " aria-label="Search ">
    <button class="btn btn-outline-success " type="submit ">Search</button>
  </form>-->
            </div>
        </div>
    </nav>
    <!-- NAV BAR ENDS -->


    <!------ Include the above in your HEAD tag ---------->
    <div class="section mar">
        <div class="container">

            <h3 class="text-center m-5">Contact Us</h3><br />

            <div class="row">
                <div class="col-md-8 p-2px">
                    <form aciton="/myaction.php" name="myForm" onsubmit="return validateForm()" method="post">
                        {% csrf_token %}
                        <div class="form-group row p-1">
                            <div class="col col-sm-4 col-xs-12 p-1">
                                <input class="form-control" name="name" placeholder="name*" required /><br /><span class="formerror"> </span>
                            </div>
                            <div class="col col-sm-4 col-xs-12 p-1">
                                <input class="form-control" name="phone" placeholder="Phone*" required /><br /><span class="formerror"> </span>
                            </div>
                            <div class="col col-sm-4 col-xs-12 p-1">
                                <input class="form-control" name="email" placeholder="mail*" required /><br /><span class="formerror"> </span>
                            </div>
                        </div class="p-1">
                        <textarea class="form-control p-1" name="text" placeholder="How can we help you?" style="height:200px;"></textarea><br />
                        <div class="text-center">
                            <button class="btn m-0 but" type="submit" value="Send message">Submit</button></div>
                        <br /><br />
                    </form>
                </div>
                <div class="col-md-4">
                    <b><h1 class="ml-2 ">Main Office</h1></b><br>
                    <p class="text-justify-left ml-2"><i class="fas fa-map-marker-alt"></i>B-25, Tonk Rd, Shiv Nagar, Shakti Nagar, Tonk Phatak, Jaipur, Rajasthan 302018</p>
                    <p class="ml-2"><i class="fas fa-phone"></i>Phone: +91 8233583565</p>
                    <a href="#">
                        <p class="ml-2" style="color: blue;"><i class="fas fa-envelope" style="color: black;"></i>info@shivanjalisociety.in</p>
                    </a>
                    <br />


                </div>
            </div>

        </div>
    </div>


    <div style="width: 100%;margin: 30px 0px;"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=SHIVANJALI%20SOCIETY,%20B-25,%20Tonk%20Rd,%20Shiv%20Nagar,%20Shakti%20Nagar,%20Tonk%20Phatak,%20Jaipur,%20Rajasthan%20302018+(B-25,%20Tonk%20Rd,%20Shiv%20Nagar,%20Shakti%20Nagar,%20Tonk%20Phatak,%20Jaipur,%20Rajasthan%20302018)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            id="mapframe"></iframe>
    </div>

    <!-- ------------------------------------------------------------------------ -->
    <footer class="footer">
        <div class="container bottom_border">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4 col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Main Office</h5>
                    <!--headin5_amrc-->
                    <p class="mb10 pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <p><i class="fa fa-location-arrow"></i> Lorem ipsum dolor sit. </p>
                    <p><i class="fa fa-phone"></i> +91-00000000000 </p>
                    <p><i class="fa fa fa-envelope"></i> info@gmail.com </p>
                    <p><i class="fa fa fa-skype"></i> skype </p>
                    <p><i class="fa fa fa-instagram"></i> instagram </p>
                    <p><i class="fa fa fa-facebook"></i> facebook </p>



                </div>


                <div class=" col-sm-4 col-md col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Footer links</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc pt-2">
                        <li><a href="#">Lorem, ipsum dolor.</a></li>
                        <li><a href="#">Lorem, ipsum.</a></li>
                        <li><a href="#">Lorem, ipsum dolor.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit.</a></li>
                    </ul>
                    <!--footer_ul_amrc ends here-->
                </div>


                <div class=" col-sm-4 col-md col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">News Letter</h5>
                    <!--headin5_amrc-->
                    <div class="footer_ul_amrc pt-2">
                        <h6 style="color: white; ">Sign Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, quisquam.</h6>
                        <input class="mb-1 mt-1" type="email" placeholder="Enter E-mail Address"><br>
                        <button class="btn btn-sm btn-warning">Sign Up</button>
                    </div>
                    <!--footer_ul_amrc ends here-->
                </div>


                <div class=" col-sm-4 col-md col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Recent Post</h5>
                    <!--headin5_amrc ends here-->

                    <ul class="footer_ul2_amrc pt-2">
                        <li>
                            <a href="#"><img src="https://images.unsplash.com/photo-1546842931-886c185b4c8c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zmxvd2VyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" /> </a>
                            <p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p>
                        </li>
                        <li>
                            <a href="#"><img src="https://images.unsplash.com/photo-1546842931-886c185b4c8c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zmxvd2VyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" /> </a>
                            <p>Lorem Ipsum is simply dummy text of the printing...<a href="# ">https://www.lipsum.com/</a></p>
                        </li>
                        <li>
                            <a href="#"><img src="https://images.unsplash.com/photo-1546842931-886c185b4c8c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Zmxvd2VyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" /></i>
                            </a>
                            <p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p>
                        </li>
                    </ul>
                    <!--footer_ul2_amrc ends here-->
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="p-3 " style="color: white; text-align: center;">Shivanjali</h1>
            <p class="text-center ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos magnam culpa necessitatibus perspiciatis at quia, pariatur distinctio eius porro? Omnis mollitia delectus ab natus iste autem libero earum labore nisi.</p>
        </div>


        <div class="container">

            <!--foote_bottom_ul_amrc ends here-->
            <p class="text-center">Copyright @2020</p>


            <!--social_footer_ul ends here-->
        </div>

    </footer>




    <!-- footer-end -->


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <!-- ------------------------------------------------------------------------ -->





</body>

</html>